body {
    background-image: url(back.png);
    font-family: 'Poppins', sans-serif;
}
.container{
    background-color: antiquewhite;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    margin-top: 5%;
    height: 300px;
    width: 80%;
    
}
h1{
    margin-top: 2%;
}